body{
    font-family: "Comfortaa", sans-serif;
}
.header{
    background-color: #476Ef7;
    color: white;
    padding-left: 25px;
    font-size: large;
}
.input-form{
    display: flex;
    border: 1px black solid;
    justify-content: space-around;
    width: 95%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #476Ef7;
    margin-top: 10px;
    padding: 25px 0px;
}
.form-floating{

}
#add-button{
    background-color: #476Ef7;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: x-large;
    font-weight: 600px;
    color: white;
}
.inputs{
    width: 30%;
}
.cards{
    
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
}
.card{
    background-color: #476Ef7;
    border: 0px;
    height: 150px;
    width: 18rem;
}
.card-body{
    color: white;
}
.transaction-table{
    
    width: 95%;
    margin: auto;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    font-weight: 600px;
    box-shadow: 0px,4px,4px rgba(0,0,0,0.5);
    padding: 0px;
}
#header-row{
  background-color: #476Ef7;
  
}
#header-row th{
    padding: 15px 0px;
    color: white;
}
.delete-button ,.delete-button:hover{
    background-color: red;
    border: none;
    width: 50px;
    height: 50px;
    
    border-radius: 50%;
    
    
}


@media only screen and (max-width: 600px) {
    .header{
        background-color: black;
    }
    .input-form{
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 15px;
       box-shadow: 0px 0px 10px rgba(0,0,0,0,0.5);
    }
    .inputs{
        width: 75%;
        
    }
    #add-button{
        background-color:black;
        width: 75%;
        height: 50px;
        border-radius: 8px;
       
    }
    .cards{
    
        display: flex;
        width: 95%;
        margin: auto;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;
    }
    .card{
        background-color:black;
        border: 0px;
        height: 170px;
        width: 150px;
    }
    h1{
        font-size: 27px;
    }
    #h11{
        margin-top: 9px;
    }
    #header-row{
        background-color: black;
        
      }
}